




#binance_feed  {
    background-color: #ccc239;
    position: absolute;
    top:      150px;
    height:   200px;
    width:    800px;

    .title {
        background-color: #ccc239;
		position: absolute;
		right:    -148px;
    }
    
    .market_summary {
        background-color: #ccc239;
		position: absolute;
		top: 53px;
		right: -195px;
	}
}