



.market_feed {

	.title {
		color:black;
	}
	
	.market_data {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: -1;
	}

	//BID
	.market_data .bid {
		position: absolute;
		left:     0px;
		width:    280px;
		height:   1000px;
		background-color: #e6e6e6;
	
		.trade__data {
			position: absolute;
			width:    390px;
			height: 400px;
			background-color: lightgray;
		}

		.place_and_cancel__data {
			position: absolute;
			left: 390px;
			width: 420px;
			height: 400px;
			background-color: gray;
		}

		.title {
			position: absolute;
			right: 0px;
			font-size: 16px;
			color: black;
		}

		.price .reason {
			font-size: 14px;
		}
	}
	
	//ASK
	.market_data .ask {
		position: absolute;
		left: 280px;
		width: 270px;
		background-color: gray;
	
		.trade__data {
			position: absolute;
			width:    390px;
			height: 400px;
			background-color: lightgray;
		}

		.place_and_cancel__data {
			position: absolute;
			left:     390px;
			width:    420px;
			height: 400px;
			background-color: gray;
		}

		.title {
			position: absolute;
			right: 0px;
			font-size: 16px;
			color:     black;
		}
	}
	
	.market_data .price .reason {
		font-size: 14px;
	
		.reason__cancel {
			font-size:        14px;
			background-color: red;
		}

		.reason__place {
			font-size:        14px;
			background-color: #5e84da;
		}

		.reason__trade {
			font-size:        14px;
			background-color: green;
		}
	}
}